<!-- Input for text -->
<txtinput>
    <!-- Label -->
    <label if="{ props.label }" for="{ props.eid }" class="mt-3">{ props.label }
        <span if="{ props.required }" class="text-primary"> *</span>
    </label>

    <!-- Input -->
    <input id="{ props.eid }" class="form-control { !props.label ? 'mt-3' : ''}" value="{ props.value }" type="text" name="{ props.name }">

    <script>
        export default {
            CONSTANTS: CONSTANTS
        }
    </script>
</txtinput>